    <%- include("partials/header.ejs") %>
<div class="main-page">
    <h1> <%= posts[pIndex]["pHead"] %> </h1>
    <p> <%= posts[pIndex]["pBody"] %> </p>
    <form action="/delete" method="post">
        <input type="hidden" name="pIndex" value="<%= pIndex%>" >
        <input type="submit" value="Delete">
    </form>
    <form action="/edit" method="post">
        <input type="hidden" name="pIndex" value="<%= pIndex%>" >
        <input type="submit" value="Edit">
    </form>
</div>
</body>
</html>