    <%- include("partials/header.ejs") %>

    <div class="page">
        <h1 class="page-title"> <%= posts[pIndex]["pHead"] %> </h1>

        <div class="page-body">
            <p class="page-body-item post-body"> <%= posts[pIndex]["pBody"] %> </p>

            <div class="buttons-row page-body-item">
                <form action="/delete" method="post">
                    <input type="hidden" name="pIndex" value="<%= pIndex%>" >
                    <input class="page-button" type="submit" value="Delete">
                </form>

                <form action="/edit" method="post">
                    <input type="hidden" name="pIndex" value="<%= pIndex%>" >
                    <input class="page-button" type="submit" value="Edit">
                </form>
            </div>

        </div>

    </div>
</body>
</html>